.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // font-family: serif; find a better one
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon {
  .fa-glass-cheers {
    color: rgba(167, 10, 83, 0.719);
  }
}
